@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@600&family=Yantramanav:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 70%;
  margin: auto;
}

.card {
  padding: 30px 30px;
  background: rgb(255, 225, 225);
  margin-bottom: 20px;
}

.card h2 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #272727;
}

.card h4 {
  font-size: 15px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.card span {
  font-size: 15px;
  opacity: 0.5;
  font-weight: bold;
  margin-bottom: 50px;
}

.card button {
  margin: 20px 0;
  padding: 15px 40px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: none;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}

input {
  margin: 10px 0;
  width: 100%;
  padding: 15px 15px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: 1.4px solid #a1a1a1;
  font-size: 15px;
  outline: none;
  color: rgb(0, 0, 0);
}

h1 {
  margin-top: 10px;
}
